<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <form method="POST" action="/new">
            <label for="filetype">Filetype</label>
            <input name="filetype" type="text" placeholder="rs"/></br>
            <label for="paste">Paste</label></br>
            <textarea name="paste" cols="80" rows="24" placeholder='fn main() { println!("hello world!"); }'></textarea>
            <button name="action" type="submit">Paste</button>
        </form>
    </body>
</html>
